#about-container {
    width: 100vw;
    height: 100%;
    color: white;
    background-color: rgb(29 74 85);
    display: grid;
    grid-template-rows: repeat(10,auto);
    grid-template-columns: repeat(10,auto);
    background-color: #252934;
    overflow: scroll;
    
}

.about-header{
    grid-row-start: 4;
    grid-row-end:3;
    grid-column-start: 5;
    grid-column-end: 9;
    color: white;
    font-family: "raleway";
    text-decoration: underline;
    text-decoration-thickness: 5%;
    font-family: "raleway";
    display: flex;
    line-height: 1.6;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    font-family: "raleway";
}

.about-info-container {
    grid-row-start: 6;
    grid-row-end: 7;

    grid-column-start: 4;
    grid-column-end: 10;
    margin-top: 10%;
    display: grid;
    grid-template-rows: repeat(10,minmax(300px,1fr));
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

}
#about-photo{
    width: 50%;
    margin-left: 50%;
}
#about-text {
    width: 50%;
    line-height: 1.6;
    text-align: justify;
    font-family: "raleway";
}

#icons-footer {
   margin-top: 60%;
}

