.nav-container {
    background-color:#252934;
    width: 100vw;

    border-bottom: 1px solid white;
    animation: nav-transition 1s;

}

@keyframes nav-transition {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}